html {
  font-family: Georgia, 'Georgia Pro', 'PT Serif', Merriweather;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

body {
  color: #333;
  background-color: #fafafa;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
  color: #333;
  margin-top: 1rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: 'Playfair Display';
  // font-size: 60px;
  color: #0280ff;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-synthesis: weight style;
}

h1 {
  font-size: 2.369rem;
}

h2 {
  font-size: 1.777rem;
}

h3 {
  font-size: 1.555rem;
}

h4 {
  font-size: 1.333rem;
}

h5 {
  font-size: 1.167rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #0280ff;
  transition: color ease 0.3s;
}

a:hover {
  color: #0280ff;
  text-decoration: underline dotted;
}

.btn {
  display: inline-block;
  padding: .25rem 1rem;
  font-family: Merriweather;
  color: #426e86;
  border: .1rem solid #32343c;
  border-radius: .1rem;
}

.btn:hover,
.btn:focus {
  color: #26282d;
  background-color: #426e86;
  border-color: #426e86;
}

strong,
b {
  color: #2f3131;
}

/* Code */
code {
  color: #00379f;
  white-space: pre-wrap;
  background-color: #eee;
}

pre,
.highlighter-rouge {
  background-color: #eee;
}

pre {
  white-space: pre;
  overflow: auto !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: rgba(0, 0, 0, 0.25) 1px solid;
  margin: 1.2em 0;
  padding: 0;
}

blockquote {
  color: #666;
  border-left: .25rem solid #333;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e6e6e6;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #e6e6e6;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  border: 1px solid #444;
}

@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  color: #bbb;
  background-color: #333;
}

/* Gist */
.gist-data {
  background-color: #222 !important;
  border-bottom: 1px solid #333 !important;
}
.gist .markdown-body {
  color: #999 !important;
}

.gist .markdown-body pre {
  background-color: #111 !important;
}

.gist-file {
  border: 1px solid #333 !important;
}

.gist-meta {
  background-color: #222 !important;
}

/* Header text */

.header-text {
  text-align: center;
  color: #0280ff;
  overflow: auto;
  position: fixed;
  // background-color: transparent;
  // background-image: linear-gradient(to bottom, #fafafa, rgba(255, 255, 255, 0));

  h1 {
    display: inline-block;
    margin: 0 0 0 0;
    // margin-bottom: 1rem;
    // margin-left: 2rem;
    transform: rotate(-5deg);

    a {
      // font-family: 'Novitha Script';
      font-family: 'Playfair Display';
      // font-family: 'Quentin';
      font-size: 3rem;
      font-weight: bolder;
    }
  }
}

@media (min-width: 48em) {
  .header-text {
    // display: block;
    max-height: 8rem;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 2rem;
    // width: 22rem;
    text-align: left;
  }
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  color: #414141;
  background-color: #fafafa;
  overflow: auto;
  // border-right: 3px solid #ffbb00;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #ffbb00;
  border-image: linear-gradient(#fafafa, #ffbb00, #ffbb00, #ffbb00, #ffbb00, #ffbb00, #fafafa) 0 50 0 0;
  // -webkit-border-right-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  // -webkit-border-right-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  // -moz-border-right-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%; -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    margin-top: 6rem;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;

    p.lead {
      color: #474a51;
      font-family: 'Rock Salt';
      // font-family: 'BlackJack';
      font-size: 1rem;
      // line-height: 0.9;
    }
  }
}

/* Sidebar links */
.sidebar a {
  color: #0280ff;
}

/* About section */
.sidebar-about h1 {
  color: #0280ff;
  margin-top: 0;
  font-family: Merriweather, 'Noto Serif', serif;
  font-size: 2.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: block;
  line-height: 1.75;
  font-size: 1.3rem;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline dotted;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    /* position: absolute;*/
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 14rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 95%;
    margin-left: 16rem;
    margin-right: 0rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 16rem;
    margin-right: 0rem;
  }
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #ffbb00;
}

/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

/*
 * Themes
 *
 * BlackDoc includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}

/* Thin Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #333;
  border: thin solid #111;
  /*box-shadow: 0px 0px 3px #111 inset;*/
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border: thin solid #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
