/* FONTS THAT WERE BEING CONSIDERED (PRIORITY ABOVE OLDFONTS.CSS) */

@font-face {
    font-family: 'Antro Vectra';
    src: url('../fonts/Antro_Vectra.otf');
}

@font-face {
    font-family: 'Bilbo Swash Caps';
    src: url('../fonts/BilboSwashCaps-Regular.otf');
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Black.otf');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_ExtraBold.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Light.otf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Regular.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler_Ultra_Light.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Desire Extras';
    src: url('../fonts/DesireScriptEXTRAS.otf');
}

@font-face {
    font-family: 'Desire';
    src: url('../fonts/DesireScriptFont.otf');
}

@font-face {
    font-family: 'Dream Only';
    src: url('../fonts/DreamOnly.otf');
    src: url('../fonts/DreamOnly.ttf');
}

@font-face {
    font-family: 'Fontin';
    src: url('../fonts/Fontin-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin';
    src: url('../fonts/Fontin-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fontin';
    src: url('../fonts/Fontin-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hello Stockholm';
    src: url('../fonts/HelloStockholm-Alt.otf');
    src: url('../fonts/HelloStockholm-Alt.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hello Stockholm';
    src: url('../fonts/HelloStockholm-Regular.otf');
    src: url('../fonts/HelloStockholm-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Highlander';
    src: url('../fonts/Highlander.otf');
    src: url('../fonts/Highlander.ttf');
}

@font-face {
    font-family: 'High Tide';
    src: url('../fonts/HighTide-Demo.ttf');
}

@font-face {
    font-family: 'La Guapita';
    src: url('../fonts/LaGuapita.ttf');
}

@font-face {
    font-family: 'Luthier';
    src: url('../fonts/Luthier-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Luthier';
    src: url('../fonts/Luthier-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luthier';
    src: url('../fonts/Luthier-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Luthier';
    src: url('../fonts/Luthier-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark My Words';
    src: url('../fonts/MarkMyWords.otf');
    src: url('../fonts/MarkMyWords.ttf');
}

@font-face {
    font-family: 'Medio';
    src: url('../fonts/Medio.otf');
}

@font-face {
    font-family: 'Novar';
    src: url('../fonts/Novar.ttf');
}

@font-face {
    font-family: 'OAF';
    src: url('../fonts/OAF.otf');
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandard-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandard-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Old Standard';
    src: url('../fonts/OldStandard-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('../fonts/Oranienbaum.ttf');
}

@font-face {
    font-family: 'P22LateNovember';
    src: url('../fonts/P22LateNovember-BoldItalic.otf');
    src: url('../fonts/P22LateNovember-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'P22LateNovember';
    src: url('../fonts/P22LateNovember-Bold.otf');
    src: url('../fonts/P22LateNovember-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'P22LateNovember';
    src: url('../fonts/P22LateNovember-Italic.otf');
    src: url('../fonts/P22LateNovember-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'P22LateNovember';
    src: url('../fonts/P22LateNovember.otf');
    src: url('../fonts/P22LateNovember.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22LateNovemberPro';
    src: url('../fonts/P22LateNovemberPro-BoldItalic.otf');
    src: url('../fonts/P22LateNovemberPro-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'P22LateNovemberPro';
    src: url('../fonts/P22LateNovemberPro-Bold.otf');
    src: url('../fonts/P22LateNovemberPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'P22LateNovemberPro';
    src: url('../fonts/P22LateNovemberPro-Italic.otf');
    src: url('../fonts/P22LateNovemberPro-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'P22LateNovemberPro';
    src: url('../fonts/P22LateNovemberPro.otf');
    src: url('../fonts/P22LateNovemberPro.ttf');
}

@font-face {
    font-family: 'Quick Caps';
    src: url('../fonts/Quick-Caps.otf');
}

@font-face {
    font-family: 'Shutterstone Standard';
    src: url('../fonts/ShutterStoneStandard.ttf');
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-ExtraBoldItalic.ttf');
    font-weight: black;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-ExtraBold.ttf');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-ExtraLightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-LightItalic.ttf');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Storytella';
    src: url('../fonts/Storytella.otf');
}

@font-face {
    font-family: 'TheFlowerCity';
    src: url('../fonts/TheFlowerCity.otf');
    src: url('../fonts/TheFlowerCity.ttf');
}

@font-face {
    font-family: 'StandingStill';
    src: url('../fonts/StandingStill.otf');
}

@font-face {
    font-family: 'Tryst';
    src: url('../fonts/Tryst.otf');
}

@font-face {
    font-family: 'Wanderlove';
    src: url('../fonts/Wanderlove.otf');
    src: url('../fonts/Wanderlove.ttf');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marana';
    src: url('../fonts/Marana Alternates.otf');
}

@font-face {
    font-family: 'Marana';
    src: url('../fonts/Marana Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Marana';
    src: url('../fonts/Marana Regular.otf');
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.ttf');
}

@font-face {
    font-family: 'Quentin';
    src: url('../fonts/Quentin.ttf');
}

@font-face {
    font-family: 'Rufina';
    src: url('../fonts/Rufina-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rufina';
    src: url('../fonts/Rufina-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Strike One';
    src: url('../fonts/StrikeOne.otf');
    src: url('../fonts/StrikeOne.ttf');
    /*src: url('../fonts/StrikeOneSwash.eps');*/
}

@font-face {
    font-family: 'Deigh';
    src: url('../fonts/deigh.ttf');
}

@font-face {
    font-family: 'Journal';
    src: url('../fonts/Journal.ttf');
}

@font-face {
    font-family: 'Mawns Handwriting';
    src: url('../fonts/MawnsHandwriting.ttf');
}

@font-face {
    font-family: 'Max';
    src: url('../fonts/max.ttf');
}

@font-face {
    font-family: 'Memorable';
    src: url('../fonts/memorable.ttf');
}

@font-face {
    font-family: 'Virginia';
    src: url('../fonts/virginia.ttf');
}
